<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2> [[${post.title}]]</h2>

<p>[[${post.content}]]</p>
<p><b>[[${post.author}]]</b></p>

<th:block th:if="${sessionUser != null} and ${sessionUser.name} == ${post.author} OR ${admin}">
<div>

    <a th:href="@{/deletePost/{id}(id=${post.id})}" class="btn btn-danger">Delete</a>
    <a th:href="@{'/edit/'+ ${post.id}}">Edit</a>
</div>
</th:block>
<div>
    <form th:if="${admin} OR ${sessionUser}"  th:action="@{/comment}" method="post">
        <input type="text"  placeholder="Add Comment" name="comment">
        <input type="hidden" name="id" th:value="${post.id}">
        <input type="text" name="name" placeholder="Your Name" th:value="${sessionUser.name}">
        <input type="submit" value="Comment">
    </form>
</div>

<div class="commentContainer">
    <th:block th:each="comment : ${comments}">

        <div class="grid-container" th:if="${editComment} == null">
            [[${comment.comment}]]<br> [[${comment.name}]] <br>[[${comment.createdAt}]]
            [[${post.id}]]
            <br>
            <form th:if="${sessionUser != null} and ${sessionUser.name} == ${comment.name}  OR ${admin}"
                  th:action="@{/showCommentUpdate/{commentId}(commentId=${comment.id})}">
                <input type="hidden" name="postId" th:value="${post.id}"/> <br/>
                <input type="submit" value="Edit" class="btn btn-outline-primary"/>
            </form>
            <form th:if="${sessionUser != null} and ${sessionUser.name} == ${comment.name} OR ${admin}"
                    th:action="@{/deleteComment/{commentId}(commentId=${comment.id})}">
                <input type="hidden" name="postId" th:value="${post.id}"/> <br/>
                <input type="submit" value="Delete" class="btn btn-outline-primary"/>
            </form>
        </div>


    <div th:if="${editComment}!=null and ${editComment.id}==${comment.id}">
        <form th:action="@{/comment/update/{commentId}(commentId=${editComment.id})}" method="post">
            <input type="hidden" name="postId" th:value="${post.id}"/> <br/>
            <input type="text" name="comment" th:value="${comment.comment}" placeholder="add your Comment..."/>
            <br/>
            <input type="text" name="name" th:value="${comment.name}" placeholder="Your Name..."/> <br/>
            <input type="submit" value="Update Comment" class="btn btn-outline-primary"/>
        </form>
    </div>
    </th:block>
</div>
</body>
</html>