<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      .grid-container {
  border: 1px solid black;
  width: 450px;
  margin :20px;
  padding: 10px;
}

.postContainer{
width : 100%;
padding: 20px;
display: grid;
  grid-template-columns: auto auto auto ;
}
.postContainer a{
    color: inherit;
  text-decoration: inherit;
}


    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <h2>Blog Posts</h2>
    </div>
    <div class="row">
        <div class="col">
            <th:block th:if="${admin} OR ${sessionUser}">
                <form action="/newPost" method="get">
                    <input type="submit" name="newPost" value="New Post">
                </form>
            </th:block>
        </div>
        <div class="col">
            <th:block th:if="${sessionUser == null}">
            <form action="/signup" method="get">
                <input type="submit" name="signUp" value="SignUp">
            </form><br>

            <a th:href="@{/login}" class="btn btn-primary">LogIn</a>
            </th:block>
        </div>
        <th:block th:if="${admin} OR ${sessionUser}">
            <div class="col"><span sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><input type="submit"
                                                                         name="logout" value="Logout"/></a></span>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-info">You have been logged out.</div>
            </div>
        </th:block>
    </div>
    <br>
    <br>

        <div class="row">
            <form th:action="@{'/search' + '?sortField=publishedAt & sortDirection=' + ${reverseSortDirection} +${keyword} }">
                <input type="hidden" name="sortField" th:value="${sortField}"/>
                <input type="hidden" name="sortDirection" th:value="${sortDirection}"/>
                <input type="text" name="keyword" th:value="${keyword}" placeholder="Search here"/>
                <input type="submit" name="search" value="Search"/>
            </form>
        </div>
    <br>
        <div class="container">
            <form action="/filter" method="get">
                <div class="row">
                    <h5>Filter By Author: </h5>
                    <th:block th:each="user: ${users}">
                        <div th:object="${user}" class="col">
                            <input type="checkbox" name="authorId" th:value="${user.id}"/>
                            <label>[[${user.name}]]</label>
                        </div>
                    </th:block>
                </div>
                <br>
                <div class="row">
                    <h5>Filter By Tags: </h5>
                    <th:block th:each="tag: ${tags}">
                        <div th:object="${tag}" class="col">
                            <input type="checkbox" name="tagId" th:value="${tag.id}"/>
                            <label>[[${tag.name}]]</label>
                        </div>
                    </th:block>
                </div>
                <div class="row">
                    <h5>Filter By PublishedAt: </h5>
                    <th:block th:each="post: ${posts}">
                        <div th:object="${post}" class="col">
                            <input type="checkbox" name="publishedAt" th:value="${post.publishedAt}"/>
                            <label>[[${post.publishedAt}]]</label>
                        </div>
                    </th:block>
                </div>
                <input type="submit" value="Filter"/>
            </form>
        </div>

        <a th:href="@{'/page/' + ${currentPage} + '?sortField=publishedAt&sortDirection=' + ${reverseSortDirection}}">
            Sort
        </a>

        <div class="postContainer">
            <th:block th:each="user : ${posts}">
                <div class="grid-container"><a th:href="@{'/post/'+${user.id}}"><input type="hidden" name="id"
                                                                                       value="${user.id}">
                    <b>[[${user.title}]]</b><br> <i>[[${user.excerpt}]] </i><br><b>[[${user.author}]]</b><br>[[${user.publishedAt}]]
                </a>
                </div>
            </th:block>
        </div>
    </div>
    <div th:if="${totalPage} > 1">
        <div class="row col-sm-10">
            <div class="col-sm-1">
                <a th:if="${currentPage-1 >= 1}" th:href="@{'/page/' + ${currentPage - 1}+${keyword != null ? '?keyword='
            + keyword : ''} }">Previous</a>
                <span th:unless="${currentPage-1 >= 1}">Previous</span>
            </div>

            <div class="col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPage)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+${keyword != null ? '?keyword='
						+ keyword : ''} }">[[${i}]]
                        </a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPage}" th:href="@{'/page/' + ${currentPage + 1}
            +${keyword != null ? '?keyword=' + keyword : ''} }">Next</a>
                <span th:unless="${currentPage < totalPage}">Next</span>
            </div>
        </div>
    </div>


    <!--+'&sortField='+${sortField}+'&sortDirection='+${sortDirection} &ndash;&gt; number-->
    <!--+'&sortField='+${sortField}+'&sortDirection='+${sortDirection} ->next -->
    <!--+'&sortField='+${sortField}+'&sortDirection='+${sortDirection} -> previous-->

</body>
</html>